<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>確認画面</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
<script src="js/bootstrap.min.js"></script>
<p>入力内容を確認し、問題なければ「送信」ボタンを押下してください。</p>
<form method="post" th:action="@{/send}" th:object="${demoForm}">
	<p th:text="'ご注文内容 のり弁当:' + *{nori} + '個'">ここにのり弁当の個数が表示されます</p>
	<p th:text="'ご注文内容 からあげ弁当:' + *{kara} + '個'">ここにからあげ弁当の個数が表示されます</p>
	<p th:text="'ご注文内容 幕ノ内弁当:' + *{maku} + '個'">ここに幕ノ内弁当の個数が表示されます</p>
    <p th:text="'名前： ' + *{name}">ここにお客様の名前が表示されます</p>
    <p th:text="'お受け取り日時： ' + *{birthYear} + '年'
                     + *{getMonthItems().get('__*{birthMonth}__')} + '月'
                     + *{getDayItems().get('__*{birthDay}__')} + '日'
                     + *{getHourItems().get('__*{hour}__')} + '時'
                     + *{getMinutesItems().get('__*{hour}__')} + '分'">
        ここにお受け取り日時が表示されます
    </p>
    <p th:text="'レジ袋： ' + *{getReziItems().get('__*{rezi}__')}">
        ここにレジ袋の有無が表示されます
    </p>
    <p th:text="'メールアドレス： ' + *{email}">ここにメールアドレスが表示されます</p>
    <p th:text="'確認チェック： ' + *{checked}">
        ここに確認チェック内容が表示されます
    </p>
    <p>
    <input type="submit" value="送信" />
    <input type="button" value="戻る" onclick="history.back();" />
    </p>
</form>
</body>
</html>