html {
  background-image: url(images/niku.jpg);
  background-size: cover;
}

body {
  background-color: transparent;
}

.title {
  color: black;
  -webkit-text-stroke:1px white;
  line-height: 10;
  letter-spacing: 0.1em;
  font-size: 125px;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
  text-align: center;
}

.explanation {
  color: black;
  -webkit-text-stroke:0.5px white;
  line-height: 10;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
  font-family: serif;
  text-align: center;
}

.button_wrapper {
  text-align: center;
}

.menu {
  font-size: 200%;
  font-family: serif;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}
.menu:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

.delivery {
  font-size: 200%;
  font-family: serif;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

.delivery:hover{
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

.takeout {
  font-size: 200%;
  font-family: serif;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

.takeout:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}


