body {
  background-image: url("images/niku.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.title {
  color: black;
  -webkit-text-stroke:1px white;
  line-height: 5;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  font-size: 500%;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
  text-align: center;
  padding: 10px;
  animation: fadeIn 5s ease 1s 1 normal backwards;
}

#select {
  font-size: 150%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.explanation {
  color: black;
  -webkit-text-stroke:0.5px white;
  line-height: 10;
  font-style: italic;
  font-size: 200%;
  
  font-family: serif;
  text-align: center;
}

.textlink a {
	position: relative;
	color: #333;
	text-decoration: none;
}
.textlink a:hover {
	color: #b99b00;
}

.textlink01 a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #ceb849;
	transform: scaleX(0);
	transition: transform 0.3s;
}

.textlink01 a:hover::after {
	transform: scaleX(1);
}

p {
  text-align: center;
}